.searchBox{
    display: block;
    margin: 5px auto;
    padding: 5px 5px 5px 5px;
    width: 40%;
    min-width: 300px;  
}
.Box{
    margin: 5px auto;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
